html,
body,
main {
  height: 100%;
}

.main-row,
.main-col {
  background-color: black;
  height: 100%;
}

.wallpaper {
  height: 100%;
  margin: 0 -15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
